.tableStyle {
    white-space: nowrap; 
    text-overflow:ellipsis; 
    overflow: hidden; 
    max-width:350px;
};

.move-center{
    /*Change the width as much as you like, but make sure 
    margin-left and margin-right + width = 100%*/
    width:20%;
    margin-left:25%;
    margin-right:25%;
}

.dropdownbar{
    /* margin-left: 30px; */
    width: 200px;
    background: rgb(245, 252, 245);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.searchbar{
    width: 500px;
    /* margin-left: 50px; */
    background: #97CFC0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.homepagebackground{
    width: screen;
    height: 100vh;
    background: url("../assets/background.png");
}

.CallTableSearchButton{
    /* margin-left: 100px; */
    background: #09427D;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 39px;
    border: none;
}

.CallTableReturnButton{
    /* margin-left: 100px; */
    background: #5c635e;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 39px;
}

.CallTableAddButton{
    /* margin-left: 100px; */
    /* background: #5c635e; */
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 39px;
}

.hellotext{
    margin-left: 15%;
    width: 375px;
    height: 25px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;

    color: #000000;
}

.welcometext{
    margin-left: 15%;
    text-align: left;
    font-family: sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;

    color: #000000;
}

.tablehold{
    width: 90%;
    height: 70vh;
    overflow: scroll;

    background: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    /* border-radius: 39px; */
}

.hidden{
    overflow: hidden;
}

table{
    table-layout: fixed;
}


.temptest{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
}

.smallcolumn{
    width: 15%;
}

.breakheight{
    height: 100px;
}

.table .very-neg {
    color: #e65149;
}

.table .neg {
    color: #f29691;
}

.table .neutral {
    color: #d9d136;
}

.table .pos {
    color: #68d959;
}

.table .very-pos {
    color: #36bf34;
}
