.backgroundlanding {
    display: flex;
    /* position: absolute; */
    flex-direction: row;
    width: screen;
    height: 100vh;
    z-index: 0;
}

.loginSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 30%;
    height: 100%;
    left: 0px;
    top: 0px;

    background: #EEFFF9;
}

.infoSide{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 70%;
    height: 100%;
    left: 30%;
    top: 35px;

    background: #85C8B8;
}

.talktext{
    margin-top: 30%;
    margin-bottom: 5%;
    left: 0.99%;
    right: 59.26%;
    top: 19.55%;
    bottom: 68.23%;
}

.LandingPage-infobars{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 3vh;
    height: 25%;
}

.LandingPage-infobars p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
}

.LandingPage-infobars strong {
    color: #0F833D;
}
