.backgroundprofile{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: screen;
    height: 100vh;
    background-image: url("../assets/background.png");
}
.profileInfo{
    width: 706px;
    height: 671px;
    flex-direction: 'column';
    display: 'flex';
    align-items: 'center';
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 39px;
}
.profileName{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: center;

    color: rgba(0, 0, 0, 0.63);
}

.profileNumber{
    font-family: Roboto;
    font-style: italic;
    font-size: 25px;
    line-height: 44px;
    text-align: center;

    color: rgba(0, 0, 0, 0.63);
}

.editbutton{
    margin-left: 40%;
    height: 40px;
    width: 20%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    background: #97CFC0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.editbutton:hover{
    background: #5685CA;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.editText{
    margin-top: 5px;
}